@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Full_Name" class="form-control" aria-required="true" />
                <label asp-for="Input.Full_Name">Full Name</label>
                <span asp-validation-for="Input.Full_Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" aria-required="true" />
                <label asp-for="Input.Address">Home Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
@if (User.IsInRole("Customer"))
{
	<div class="row pt-4 pb-4">
		<div class="col-9">
			<h2>List of Order</h2>
		</div>
	</div>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Address</th>
					<th>City</th>
					<th>Order Status</th>
					<th>Order Total</th>
					<th>Date Order</th>
					<th>Books Ordered</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var orderHeader in Model.OrderVM.OrderHeaderes)
				{
					<tr>
						<td>@orderHeader.Name</td>
						<td>@orderHeader.PhoneNumber</td>
						<td>@orderHeader.Address</td>
						<td>@orderHeader.City</td>
						<td>@orderHeader.OrderStatus</td>
						<td>@orderHeader.OrderTotal</td>
						<td>@orderHeader.OrderDate</td>
						<td>
							<ul>
								@foreach (var orderDetail in Model.OrderVM.OrderDetailes.Where(o => o.OrderHeaderID == orderHeader.Id))
								{
									<li>Title: @orderDetail.book.Title</li>
									<li>Book count: @orderDetail.Count</li>
								}
							</ul>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
