@model ShoppingCart
<h1>Book Detail</h1>
<div class="border p-3 mt-4">
        <div class="row">
            <div class="col-6 col-md-2 offset-lg-1 pb-1">
                <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                    Back to home
                </a>
            </div>
        </div>
    <img src="@Model.book.Book_Image" width="100%" alt="Book image" />
        <div class="row">
            <div class="col-10">
                <div class="row mb-3">
                    <h2>@Model.book.Title</h2>
                </div>
                <div class="row mb-3">
                    @if (Model.book.BookCategories != null)
                    {
                        @foreach (var category in Model.book.BookCategories.Select(bc => bc.Category))
                        {
                            <a>@category.Name</a> <br />
                        }
                    }
                </div>
                <div class="row mb-3">
                    <h4>@Model.book.Description</h4>
                </div>
                <div class="row mb-3">
                    <h4>@Model.book.Price</h4>
                </div>
                <div class="row mb-3">
                    Book left
                    <h4>@Model.book.Quantity</h4>
                </div>
                @if (Model.book.Quantity == 0)
                {
                    <span class="btn btn-danger">Out of stock</span>
                }else{
                <form method="post">
                    <input hidden asp-for="BookID" />
                <div class="row pl-2 mb-3">
                    <div class="input-group mb-3">
                       <span class="input-group-text bg-primary text-black border-0 fw-semibold" id="inputGroup-sizing-default">
                           Count
                       </span>
                        <input asp-for="Count" type="number" value="1" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" min="1" max="@Model.book.Quantity" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Add to cart
                        </button>
                    </div>
                </div>
                </form>
                }
            </div>
        </div>
</div>