@model Book
<h1>Book Detail</h1>
<div class="border p-3 mt-4">
    <img src="@Model.Book_Image" width="100%" alt="Book image" />
        <div class="row">
            <div class="col-10">
                <div class="row mb-3">
                    <h2>@Model.Title</h2>
                </div>
                <div class="row mb-3">
                    <h4>@Model.Description</h4>
                </div>
                <div class="row mb-3">
                    <h4>@Model.Price</h4>
                </div>
                <div class="row mb-3">
                @if (Model.BookCategories != null)
                {
                    @foreach (var category in Model.BookCategories.Select(bc => bc.Category))
                    {
                        <a>@category.Name</a> <br />
                    }
                }
                </div>
                <div class="row mb-3">
                    <h4>@Model.Quantity</h4>
                </div>
            </div>
        </div>
</div>
