@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />
<div class="banner">
    <div class="row g-3 g-lg-4">
        <div class="col-md-3">
            <div class="category-wrapper">
                <div class="btn-group">
                    <button type="button" class="dropdown-toggle btn-outline-primary border-1 fw-normal" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 5px;">
                        Category
                    </button>
                    <ul class="dropdown-menu shadow-sm overflow-y-auto" style="max-height: 100%px; border-radius: 5px;">
                        @if (Model.Categories != null)
                        {
                            <form method="get">
                            <li>
                                <input type="hidden" name="sort" value="ViewAll" />
                                <button type="submit" class="dropdown-item border-0 fw-normal">View All</button>
                            </li>
                            </form>
                            @foreach (var cate in Model.Categories)
                            {
                                <form method="get">
                                <li>
                                    <input type="hidden" name="sort" value="@cate.Name" />
                                    <button type="submit" class="dropdown-item border-0 fw-normal">@cate.Name</button>
                                </li>
                                </form>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form method="get" style="margin-left: 2%;">
        <div class="row">
            <div class="col-md-8">
                <input name="search" class="form-control" placeholder="Search by Title, Author">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn-info" style="border-radius: 5px; height: 38px;">Search</button>
            </div>
        </div>
    </form>
</div>
<section class="section">
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination" style="display: flex; justify-content: flex-end; margin-right: 7%;">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@(Model.CurrentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                }
                @for(int i =1; i <= Model.TotalPages;i++){
                    @if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link active" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@i" aria-disabled="true">@i</a></li>
                    }else{
                        <li class="page-item"><a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@i">@i</a></li>
                    }
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@(Model.CurrentPage+1)" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="container p-3 my-5 bg-light">
        <div class="row mb-3 gap-3">
            @foreach (var Book in Model.Books)
            {
                <div class="col-lg-3" style="width: 18rem;">
                    <div class="card">
                        <img src="@Book.Book_Image" class="card-img-top" alt="Book image" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">@Book.Title</h5>
                            <p class="card-text">@Book.Description</p>
                            <h6 class="card-title">Price: @Book.Price $</h6>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Detail" asp-route-id="@Book.ID" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section >
    <div class="container">
        <nav aria-label="Page navigation" style="margin: auto; width: 50px; padding-top: 20px">
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@(Model.CurrentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link active" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@i" aria-disabled="true">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@i">@i</a></li>
                    }
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-search="@Model.Search" asp-route-sort="@Model.Sort" asp-route-currentPage="@(Model.CurrentPage+1)" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>