@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <form method="get" style="align-items: center; justify-content: center; display: flex">
        <div class="row">
            <div class="col-md-8">
                <input name="search" class="form-control" placeholder="Search by Title, Author" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn-info">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="btn-group">
    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Category
    </button>
    <ul class="dropdown-menu">
        @if (Model.Categories != null)
        {
            @foreach (var cate in Model.Categories)
            {
                <form method="get">
                <li>
                    <input type="hidden" name="cateID" value="@cate.ID" />
                    <button type="submit" class="dropdown-item">@cate.Name</button>
                </li>
                </form>
            }
        }
    </ul>
</div>
<section class="section">
    <div class="container">
        <div class="row g-3 g-lg-4">
            @foreach (var Book in Model.Books){
                <div class="card" style="width: 18rem;">
                    <img src="@Book.Book_Image" class="card-img-top" alt="Book image" style="width: 200px; height: 300px;">
                  <div class="card-body">
                    <h5 class="card-title">@Book.Title</h5>
                    <p class="card-text">@Book.Description</p>
                    <h6 class="card-title">Price: @Book.Price $</h6>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Detail" asp-route-id="@Book.ID" class="btn btn-primary">Detail</a>
                        @if (User.IsInRole("Customer")){
                            <button type="button" onclick="add(@Book.ID)" class="btn btn-primary">add to cart</button>
                        }
                  </div>
                </div>
             }
        </div>
    </div>
 </section>
@section scripts {
    <script>
        async function add(bookid) {
            try {
                var response = await fetch(`/cart/additem?bookid=${bookid}`);
                if (response.status == 200) {
                    var result = await response.json();
                    console.log(result);
                    var cartcountel = document.getelementbyid("cartcount");
                    cartcountel.innerhtml = result;
                }
            }
            catch (err) {
                console.log(err)
            }
        }
    </script>
}

